.cards-area {
  margin-top: 90px;
  padding-bottom: 50px;
  .card-container {
    max-width: 1500px;
  }
  .card {
    border: none;
    background-color: $bg-color;
    max-height: 700px;
    .card-img-top {
      max-width: 800px;
      height: auto;
      margin: 0 40px;
      transition: all 1s;
    }
    .right-card-img{
      position: relative;
      right: -25vw;
    }
    .card-body {
      position: relative;
      background-color: white;
      bottom: 30%;
      left: 28vw;
      width: 700px;
      height: 290px;
      border-top: solid 2px rgba(225,0,0,1);
      .wrapper {
        padding: 60px;
      }
    }
    .right-card-body{
      bottom: 27%;
      left: 11%;
    }
  }
  .left-card:hover .left-card-img {
    -webkit-box-shadow: -17px 18px 0px 18px rgba(255, 237, 0,1);
    -moz-box-shadow: -17px 18px 0px 18px rgba(255, 237, 0,1);
    box-shadow: -17px 18px 0px 18px rgba(255, 237, 0,1);
  }
  .right-card:hover .right-card-img {
    -webkit-box-shadow: 18px 18px 0px 18px rgba(255, 237, 0,1);
    -moz-box-shadow: 18px 18px 0px 18px rgba(255, 237, 0,1);
    box-shadow: 18px 18px 0px 18px rgba(255, 237, 0,1);
  }
}
@media (max-width: 1160px) {
  .cards-area {
    .card {
      min-height: 780px;
      .right-card-img{
        position: static;
      }
      .card-img-top {
        width: 85vw;
        margin: 40px auto 0 auto;
      }
      .card-body {
        position: static;
        background-color: white;
        width: 85vw;
        height: auto;
        border-top: solid 2px rgba(225,0,0,1);
        margin: 0 auto 30px auto;
        .wrapper {
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: 715px) {
  .cards-area {
    .card {
      min-height: 300px;
      .right-card-img{
        position: static;
      }
      .card-img-top {
        width: 85vw;
        margin: 40px auto 0 auto;
      }
      .card-body {
        position: static;
        background-color: white;
        width: 85vw;
        height: auto;
        border-top: solid 2px rgba(225,0,0,1);
        margin: 0 auto 30px auto;
        .wrapper {
          padding: 20px;
        }
      }
    }
  }
}