.service_bg_1{
  background-image: url(../images/services/crashed.jpg);
}
.service_bg_2{
  background-image: url(../images/services/painting.jpg);
}
.service_bg_3{
  background-image: url(../images/services/mechanic.jpg);
}
.service_bg_4{
  background-image: url(../images/services/insurance.jpg);
}
.service_bg_5{
  background-image: url(../images/services/rent.jpg);
}
.service_bg_6{
  background-image: url(../images/services/towing.jpg);
}
.service_area{
  padding-top: 120px;
  padding-bottom: 120px;
  .single_service{
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
    overflow: hidden;
    .service_hover{
      text-align: center;
      padding: 104px 0 94px 0;
      background: rgba(0, 0, 0, .30 )  ;
      transition: transition(.5s);
      position: relative;
      h3{
        font-size: 20px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 0;
      }
      .hover_content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: table;
        background: $primary-color2;
        transform: translateY(40%);
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        .hover_content_inner{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 0 54px;
          height: 100%;
        }
      }
    }
    &:hover{
      background-position: top;
      .hover_content{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
      .service_hover{
        background: rgba(0, 0, 0, .50 );
      }
    }
  }
}
.service-pic {
	margin: 0 -15px;
	img {
    height: 531px;
    min-width: 100%;
	}
}

.service-text {
	max-width: 626px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 48px;
	p {
		margin-bottom: 42px;
	}
}