/* Fonts */

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

/* Colors */

$primary-color1: #1d1d1b;
$primary-color2: #ffdc00;
$primary-color2-opacity1: #554c14;
$primary-color2-opacity2: #8e7c0d;
$primary-color2-opacity3: #c6ac06;
$white: #ffffff;
$black: #000000;
$bg-color: #f7f7f7;



/* Transition */

$transition: all 0.5s;

