.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 30px;
  color: white;
  background: $primary-color1;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $primary-color2;
  }
  &.second-bg {
    background: $primary-color1;
  }
}