.header_area{
  font-family: quicksand;
  font-weight: bold;
  position: fixed;
  left: 0;
  z-index: 98;
  transition: background 0.4s, all 0.3s linear;
  @media (max-width: 991px) {
      margin-top: 0;
      background-color: white;
  }
}
.hidedMenu {
  display: none
}

.header_area:after {
  content: "";
  background: white;
  height: 116px;
  width: 150px;
  transform: skewx(-30deg);
  position: absolute;
  right: -45px;
  top: 0;
  z-index: 1;
}

nav {
  background-color: white;
  transition: $transition;
  z-index: 99;
  img {
    max-height: 90px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-collapse{
    .nav {
      .nav-item {
        .nav-link {
          font-size: 18px;
          height: 90px;
          padding: 0 32px;
          line-height: 90px;
        }
      }
    }
  }
}