.header_area{
  font-family: quicksand;
  font-weight: bold;
  position: fixed;
  left: 0;
  z-index: 98;
  transition: background 0.4s, all 0.3s linear;
}
.hidedMenu {
  display: none
}

.header_area:after {
  content: "";
  background: white;
  height: 116px;
  width: 150px;
  transform: skewx(-30deg);
  position: absolute;
  right: -45px;
  top: 0;
  z-index: 1;
}

nav {
  background-color: white;
  transition: $transition;
  z-index: 99;
  img {
    max-height: 90px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-collapse{
    .nav {
      .nav-item {
        .nav-link {
          font-size: 18px;
          height: 90px;
          padding: 0 32px;
          line-height: 90px;
        }
        .acive-nav-link {
          color: $primary-color1;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header_area{
    margin-top: 0;
    background-color: white;
    width: 100%;
    .nav-item {
      border-top: solid 1px $primary-color1;
      text-align: center;
    }
    .nav-item:first-child {
      border-top: none;
    }
  }
  .header_area:after {
    content: "";
    background: none;
    height: 0;
    width: 0;
  }
}